{% extends 'layout.html' %}
{% block title %}Product{% endblock %}
{% block content %}
<form action="/employee/create">
    <label for="id">Id:</label><br>
    <input type="text" id="id" name="id"><br>

    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name"><br>

    <label for="name">Email:</label><br>
    <input type="text" id="email" name="email"><br>
    
    <label for="dateTime">dateOfContract:</label><br>
    <input type="dateTime" id="dateOfContract" name="dateOfContract"><br><br>
    
    <label for="name">Category:</label><br>
    <input type="text" id="category" name="category"><br><br>
    
    <label for="name">Salary:</label><br>
    <input type="number" id="salary" name="salary"><br><br>
    
    <label for="name">Skills:</label><br>
    <input type="text" id="skills" name="skills"><br><br>
    
    <label for="name">Username:</label><br>
    <input type="number" id="username" name="username"><br><br>
    
    <label for="name">Password:</label><br>
    <input type="text" id="password" name="password"><br><br>
    
    <input type="submit" value="Submit">
</form>
{% endblock %}


