{% extends 'layout.html' %}
{% block title %}Shelf{% endblock %}
{% block content %}
<form action="/shelf/create" method = "POST">
    <label for="id">Id:</label><br>
    <input type="text" id="id" name="id"><br>
    <label for="name">refShelf:</label><br>
    <input type="text" id="refShelf" name="refShelf"><br>
    <label for="name">refStore:</label><br>
    <input type="number" id="refStore" name="refStore"><br><br>
    <label for="size">shelfCount:</label><br>
    <input type="text" id="shelfCount" name="shelfCount"><br>
    <label for="image">stockCount:</label><br>
    <input type="Text" id="stockCount" name="stockCount"><br>

    <input type="submit" value="Submit">
</form>
{% endblock %}


