{% extends 'layout.html' %}
{% block title %}Shelf{% endblock %}
{% block content %}
<form action="/store/{{id}}/product/{{idProduct}}/shelf/create" method = "POST">
    <label for="id">Id:</label><br>
    <input type="text" id="id" name="id"><br>
    <label for="id">refShelf:</label><br>
    <select type="text" id="refShelf" name="refShelf">
    {% for shelf in shelf_list %}
        <option value="{{shelf}}">{{shelf}}</option>
    {% endfor %}
    </select>
    <br>
    <br>
    <label for="size">shelfCount:</label><br>
    <input type="Number" id="shelfCount" name="shelfCount"><br>
    <label for="image">stockCount:</label><br>
    <input type="Number" id="stockCount" name="stockCount"><br>
    <input type="submit" value="Submit">
</form>
{% endblock %}