{% extends 'layout.html' %}
{% block title %}Shelf{% endblock %}
{% block content %}
<form action="store/{{id}}/shelf/{{idShelf}}/product/create" method = "POST">
    <label for="id">Id:</label><br>
    <input type="text" id="id" name="id"><br>
    <label for="id">refProduct:</label><br>
    <select id="refProduct" name="refProduct">
    {% for product in product_list %}
        <option value="{{product}}">{{product}}</option>
    {% endfor %}
    </select>
    <br>
    <br>
    <label for="size">shelfCount:</label><br>
    <input type="Number" id="shelfCount" name="shelfCount"><br>
    <label for="image">stockCount:</label><br>
    <input type="Number" id="stockCount" name="stockCount"><br>
    <input type="submit" value="Submit">
</form>
{% endblock %}


