{% extends 'layout.html' %}
{% block title %}Create Store{% endblock %}
{% block content %}
<form action="/store/create" method = "POST">
    <label for="id">Id:</label><br>
    <input type="text" id="id" name="id"><br>
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="address">Address:</label><br>
    <input type="text" id="address" name="address"><br>
    <label for="location">xcoodr:</label><br>
    <input type="number" id="xcoord" name="xcoord" step = "any"><br><br>
    <label for="location">ycoord:</label><br>
    <input type="number" id="ycoord" name="ycoord" step = "any"><br><br>
    <label for="image">Image:</label><br>
    <input type="file" id="image" name="image"><br><br>
    <label for="url">URL:</label><br>
    <input type="text" id="url" name="url"><br><br>
    <label for="telephone">Telephone:</label><br>
    <input type="text" id="telephone" name="telephone"><br><br>
    <label for="countryCode">CountryCode:</label><br>
    <input type="text" id="countryCode" name="countryCode"><br><br>
    <label for="capacity">Capacity:</label><br>
    <input type="number" id="capacity" name="capacity"><br><br>
    <label for="description">Description:</label><br>
    <input type="text" id="description" name="description"><br><br>

    <input type="submit" value="Submit">
    <button type = "button" onclick="location.href = 'http://127.0.0.1:5000/stores/';">Cancel</button>
</form>
{% endblock %}


