{% extends 'layout.html' %}
{% block title %}Employee{% endblock %}
{% block content %}
 <div class="imageemp-container">
    {% set image_base = "data:image/png;base64," + employee.image.value %}
    <img id=originalImage src={{image_base}} alt="Image 2">
 </div>
 {% set id_items = employee.id.split(':') %}
 {% set store_items = employee.refStore.value.split(':') %}
 <button onclick="location.href = 'http://127.0.0.1:5000/employee/update';">Modify employee</button>
 <button>Delete employee</button>
 <p>
 <b>EmployeeID</b>: {{id_items[3]}}<br>
 <b>Name</b>: {{employee.name.value}}<br>
 <b>dateOfContract</b>: {{employee.dateOfContract.value}}<br>
 <b>category</b>: {{employee.category.value}}<br>
 <b>salary</b>: {{employee.salary.value}}<br>
 <b>skills</b>: {{employee.skills.value}}<br>
 <b>username</b>: {{employee.username.value}}<br>
 <b>password</b>: {{employee.password.value}}<br>
 <b>refStore</b>: {{store_items[3]}}
 </p>

{% endblock %}