<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    </head>

    <body>
        <div class="navbar">
            <a href="{{ url_for('home') }}" {% if request.path == url_for('home') %}class="active"{% endif %}>Home</a>
            <a href="{{ url_for('products') }}" {% if request.path == url_for('products') %}class="active"{% endif %}>Products</a>
            <a href="{{ url_for('stores') }}" {% if request.path == url_for('stores') %}class="active"{% endif %}>Stores</a>
            <a href="{{ url_for('employees') }}" {% if request.path == url_for('employees') %}class="active"{% endif %}>Employees</a>
            <a href="{{ url_for('map') }}" {% if request.path == url_for('map') %}class="active"{% endif %}>Map</a>
            <a href="{{ url_for('about') }}" {% if request.path == url_for('about') %}class="active"{% endif %}>About</a>
        </div>

        <div class="body-content">
            {% block content %}
            {% endblock %}
            <hr/>
            <footer>
                <p>&copy; 2018</p>
            </footer>
        </div>
    </body>
</html>