{% extends 'layout.html' %}
{% block title %}Mapa{% endblock %}
{% block content %}
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <div id="map"></div>
    {% set stores = stores %}
    <script>
        const map = L.map('map').setView([52.52, 13.405], 12); 

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        
        const stores = {{ stores | tojson }};

        stores.forEach(store => {
            const lat = store.location.coordinates[0];
            const lng = store.location.coordinates[1];
            let id = store.id
            let address = store.address
            let image = "data:image/png;base64," + store.image
            let capacity = stores.capacity
            const marker = L.marker([lat, lng]).addTo(map);

            const popupContent = `
                <div>
                    <h3>${id}</h3>
                    <h3>${address}</h3>
                    <img class=product_image src=${image} alt="Image 2">
                </div>
            `;

            marker.bindPopup(popupContent);
        });
            </script>
{% endblock %}