{% extends 'layout.html' %}
{% block title %}Product{% endblock %}
{% block content %}
 <div class="imageprod-container">
    {% set image_base = "data:image/png;base64," + product.image.value %}
    <img class=product_image src={{image_base}} alt="Image 2">
 </div>
 <button>Delete product</button>
 <button onclick="location.href = 'http://127.0.0.1:5000/product/update';">Modify product</button>
 {% set id_items = product.id.split(':') %}
 <p>
 <b>Product ID</b>: {{id_items[3]}}<br>
 <b>Name</b>: {{product.name.value}}<br>
 <b>Size</b>: {{product.size.value}}<br>
 <b>Price</b>: {{product.price.value}}<br>
 <b>Color</b>: {{product.color.value}}
 </p>
 <table>
 <tr>
 <th>Store</th>
 <th>Shelf</th>
 <th>Shelf count</th>
 <th>Stock count</th>
 </tr>
 {% for inventory_item in inventory_items %}
 <tr>
 {% set id_items = inventory_item.refStore.split(':') %}
 <td>{{id_items[3]}}</td>
 {% set id_items = inventory_item.refShelf.split(':') %}
 <td>{{id_items[3]}}</td>
 <td>{{inventory_item.shelfCount}}</td>
 <td>{{inventory_item.stockCount}}</td>
 </tr>
 {% endfor %}
 </table>
{% endblock %}