{% extends 'layout.html' %}
{% block title %}Product{% endblock %}
{% block content %}
 <div class="imageprod-container">
    {% set image_base = "data:image/png;base64," + product.image.value %}
    <img class=product_image src={{image_base}} alt="Image 2">
 </div>
 <button onclick="location.href = 'http://127.0.0.1:5000/product/delete';">Delete product</button>
 <button onclick="location.href = 'http://127.0.0.1:5000/product/update';">Modify product</button>
 {% set id_items = product.id.split(':') %}
 <p>
 <b>Product ID</b>: {{id_items[3]}}<br>
 <b>Name</b>: {{product.name.value}}<br>
 <b>Size</b>: {{product.size.value}}<br>
 <b>Price</b>: {{product.price.value}}<br>
 <b>Color</b>: {{product.color.value}}
 </p>
 <br>
 <table>
   <tr>
   <th>Store</th>
   <th>Product</th>
   <th>stockCount</th>
   <th>Add Shelf</th>
   </tr>
   {% for store_id, product_id in grouped_inventory.keys() %}
   <tr>
      <td>{{ store_id.split(':')[3] }}</td>
      <td>{{ product_id.split(':')[3]}}</td>
      <td>{{ grouped_inventory[(store_id, product_id)] }}</td>
      <td><button onclick="location.href = 'http://127.0.0.1:5000/store/{{store_id}}/product/{{product_id}}/shelf/create';">Add Shelf</button></td>
    </tr>
    {% endfor %}
 </table>
 <br>
 <br>
 <table>
 <tr>
 <th>Store</th>
 <th>Shelf</th>
 <th>refProduct</th>
 <th>Shelf count</th>

 </tr>
 {% for inventory_item in inventory_items %}
 <tr>
 {% set id_items1 = inventory_item.refStore.split(':') %}
 <td>{{id_items1[3]}}</td>
 {% set id_items2 = inventory_item.refShelf.split(':') %}
 <td>{{id_items2[3]}}</td>
 {% set id_items3 = inventory_item.refProduct.split(':') %}
 <td>{{id_items3[3]}}</td>
 <td>{{inventory_item.shelfCount}}</td>
 </tr>
 {% endfor %}
 </table>
{% endblock %}