{% extends 'layout.html' %}
{% block title %}Products{% endblock %}
{% block content %}
<button onclick="location.href = 'http://127.0.0.1:5000/product/create';">Add product</button>
<br>
<br>
<table>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Color</th>
        <th>Size</th>
        <th>Image</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    {% for product in products %}
    {% set id_items = product.id.split(':') %}
    {% set image_base = "data:image/png;base64," + product.image.value %}
    <tr>
        <td>{{ id_items[3] }}</td> 
        <td><a href="/products/{{ product.id }}">Product {{ id_items[3] }}</a></td>
        <td>{{product.color.value}}</td>
        <td>{{product.size.value}}</td>
        <td><img class="img_store" src="{{ image_base }}" alt="Store Image"></td>
        <td><button onclick="location.href = 'http://127.0.0.1:5000/product/create';">Update</button></td>
        <td><button onclick="location.href = 'http://127.0.0.1:5000/product/create';">Delete</button></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}