{% extends 'layout.html' %}
{% block title %}Store{% endblock %}
{% block content %}
<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>

<div class="image-container">
    {% set image_base = "data:image/png;base64," + store.image.value %}
    <br>
    <img class="img_store" src="{{ image_base }}" alt="Store Image">
    <br>
    <img class="map_store" src="https://tile.openstreetmap.org/{{zoom}}/{{xtile}}/{{ytile}}.png" alt="Image 2">
</div>
{% set id_items = store.id.split(':') %}
<p>
    <b>Store ID</b>: {{id_items[3]}}<br>
    <b>Name</b>: {{store.name.value}}<br>
    <b>Address</b>: {{store.address.value.addressRegion}}<br>
    <b>Location</b>: {{store.location.value.coordinates[1]}}, {{store.location.value.coordinates[0]}}<br>
    <b>url</b>: {{store.url.value}}<br>
    <b>telephone</b>: {{store.telephone.value}}<br>
    <b>countryCode</b>: {{store.countryCode.value}}<br>
    <b>capacity</b>: {{store.capacity.value}}<br>
    <b>description</b>: {{store.description.value}}<br>
    <b>temperature</b>: {{store.temperature.value}}<br>
    <b>relativeHumidity</b>: {{store.relativeHumidity.value}}<br>
</p>

<br>
<br>
<table>
    <tr>
    <th>Store</th>
    <th>Shelf</th>
    <th>Progress bar</th>
    <th>shelfCount</th>
    <th>maxCapacity</th>
    </tr>
    {% for store_id, shelf_id in grouped_inventory.keys() %}
    <tr>
       <td>{{ store_id.split(':')[3] }}</td>
       <td>{{ shelf_id.split(':')[3]}}</td>
       {% set percentage =  (grouped_inventory[(store_id, shelf_id)] / grouped_capacity[(store_id, shelf_id)])*100 %}
       <td>
        <div class="border">
            {% if percentage <= 50 %}
                <div style="height:24px;width:{{percentage}}%;background-color: red;"></div>
            {% endif %}
            {% if percentage > 50 %}
                <div style="height:24px;width:{{percentage}}%;background-color: green;"></div>
            {% endif %}
        </div>
       </td>
       <td>{{ grouped_inventory[(store_id, shelf_id)] }}</td>
       <td>{{ grouped_capacity[(store_id, shelf_id)] }}</td>
     </tr>
     {% endfor %}
</table>
<br>
<br>
<br>
<table>
    <tr>
        <th>Store</th>
        <th>Shelf</th>
        <th>refProduct</th>
        <th>Name</th>
        <th>Price</th>
        <th>Size</th>
        <th>Color</th>
        <th>Shelf count</th>
        <th>Stock count</th>
        <th>Buy</th>
        <th>Update Shelf</th>
        <th>Delete Shelf</th>
        <th>Add Product</th>
    </tr>
    {% for inventory_item in inventory_items %}
    <tr>
        {% set id_items1 = inventory_item.refStore.split(':') %}
        <td>{{ id_items1[3] }}</td>
        {% set id_items2 = inventory_item.refShelf.split(':') %}
        <td>{{ id_items2[3] }}</td>
        {% set id_items3 = inventory_item.refProduct.split(':') %}
        <td>{{ id_items3[3] }}</td>
        <td>{{ inventory_item.prodName }}</td>
        <td>{{ inventory_item.prodPrice }}</td>
        <td>{{ inventory_item.prodSize }}</td>
        <td>{{ inventory_item.prodColor }}</td>
        <td>{{ inventory_item.shelfCount }}</td>
        <td>{{ inventory_item.stockCount }}</td>
        {% set unit_url = '/' + inventory_item.refStore + '/buy/' + inventory_item.id %}
        <td><button onclick="window.location.href = '{{unit_url}}';">Buy</button></td>
        <td><button onclick="location.href = 'http://127.0.0.1:5000/store/{{store.id}}/shelf/update/{{ inventory_item.id }}';">Update</button></td>
        <td><button onclick="location.href = 'http://127.0.0.1:5000/store/{{store.id}}/shelf/delete/{{ inventory_item.id }}';">Delete</button></td>
        <td><button onclick="location.href = 'http://127.0.0.1:5000/store/{{store.id}}/shelf/{{inventory_item.refShelf}}/product/create';">Add Shelf</button></td>
    </tr>
    {% endfor %}
</table>
<br>
<script>
    const socket = io();
    socket.on('connect', function() {
        console.log('Conexión establecida con el servidor de Socket.IO');
    });

    socket.on('my event', function(msg) {
        console.log('Conexión establecida con el servidor de Socket.IO');
        document.getElementById("demo").innerHTML = 
                "[" +
                new Date().toLocaleString() +
                "] " +
                "My Event received: " +
                JSON.stringify(msg)
    });
</script>
<p id="demo"></p>
<br>
<div class="tweet-container">
   {% for tweet in store.tweets.value %}
       <div class="tweet-box">
           <p class="tweet-content"><i class="fa fa-twitter" style="color: dodgerblue;"></i> {{ tweet }}</p>
       </div>
   {% endfor %}
</div>

{% endblock %}
