<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Product</title>
</head>
<body>
<form action="{{ url_for('update_store', id=id) }}" method = "post">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="address">Address:</label><br>
    <input type="text" id="address" name="address"><br>
    <label for="xcoord">ycoord:</label><br>
    <input type="number" id="xcoord" name="xcoord"><br><br>
    <label for="ycoord">xcoord:</label><br>
    <input type="number" id="ycoord" name="ycoord"><br><br>
    <label for="image">Image:</label><br>
    <input type="file" id="image" name="image"><br><br>
    <label for="url">URL:</label><br>
    <input type="text" id="url" name="url"><br><br>
    <label for="telephone">Telephone:</label><br>
    <input type="text" id="telephone" name="telephone"><br><br>
    <label for="countryCode">CountryCode:</label><br>
    <input type="text" id="countryCode" name="countryCode"><br><br>
    <label for="capacity">Capacity:</label><br>
    <input type="number" id="capacity" name="capacity"><br><br>
    <label for="description">Description:</label><br>
    <input type="text" id="description" name="description"><br><br>

    <input type="submit" value="Submit">
</form>
</body>
</html>



