<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Shelf</title>
</head>
<body>
<form action="{{ url_for('update_shelf', id=id, idStore = idStore) }}">
    <label for="name">refShelf:</label><br>
    <input type="text" id="refShelf" name="refShelf"><br>
    <label for="name">refStore:</label><br>
    <input type="text" id="refStore" name="refStore"><br>
    <label for="dateTime">shelfCount:</label><br>
    <input type="dateTime" id="shelfCount" name="shelfCount"><br><br>
    <label for="name">stockCount:</label><br>
    <input type="text" id="stockCount" name="stockCount"><br><br>
    
    <input type="submit" value="Submit">
</form>
</body>
</html>


