<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Product</title>
</head>
<body>
    <form action="{{ url_for('update_product', id=id) }}" class="navbar-item">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="name">Price:</label><br>
        <input type="number" id="price" name="price"><br>
        <label for="name">Size:</label><br>
        <input type="text" id="size" name="size"><br>
        <label for="name">Image:</label><br>
        <input type="file" id="image" name="image"><br>
        <label for="name">Color:</label><br>
        <input type="text" id="color" name="color"><br>
        <input type="submit" value="Submit">
        <button onclick="location.href = 'http://127.0.0.1:5000/products/';">Cancel</button>
    </form>
</body>
</html>

